*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #ddd;
}

main{
	width: 80%;
	margin: auto;
	font-family: Helvetica;
}
header{
	font-family: Ataucusi;
	font-size: 2em;
	color: #ffffff;
	background-image: url(../imagenes/desarrolloweb1.jpg);
	background-position: top;
	background-size: 25%;
	border-radius: 5px;
	text-align: center;
}
h1{
	color: #252850;
	margin: 10px;
}

nav ul{
	width: 45%;
	padding: 5px;
	text-align: center;
	background: #CCFFCC;
	display: flex;
}
nav	ul li{
	list-style: none;
	width: 25%;
	font-family: fantasy;
	color: black;
	font-weight: bold;
}
.texto-definicion{
	float: left;
	background: white;
	margin-top: 5px;
	width: 66%;
	height: 66%;
	margin-bottom: 5px;
	margin-right: 5px;
	
}
.texto-tipos{
	float: left;
	background: white;
	margin-top: 5px;
	width: 66%;
	height: 66%;
	margin-bottom: 5px;
}
.texto-tecnologias{
	float: left;
	background: white;
	margin-top: 5px;
	width: 66%;
	height: 66%;
	margin-bottom: 5px;
}
.texto-importante{
	float: left;
	background: white;
	margin-top: 5px;
	width: 66%;
	height: 66%;
	margin-bottom: 5px;
}
.texto-futuro{
	float: left;
	background: white;
	margin-top: 5px;
	width: 66%;
	height: 66%;
	margin-bottom: 5px;
}
.aside{
	margin-top: 10px;
	margin-left: 67%; 
	background: white;
	
}
footer{
	clear: both;
	width: 100%;
	height: 8%;
	background: #333;
	color: white;
	text-align: center;
	font-style: italic;
	font-size: 10px;
	line-height: 32px;
}
aside{
	margin-left: 5px;
}
#contactos-cabecera{
	width: 33%;
	display: flex;
}
.cuadro-detalle{
	width: 25%;
	margin: 10px;
}
#descripcion-detalle{
	font-size: 10px;
}
#isotipo-detalle{
	width: 40%;
}
#isotipo-detalle img{
	width: 100%;
}